<div class="w-12 h-4rem flex justify-content-between px-2 bg-black-alpha-50">
   <div class="flex align-items-center gap-3 cursor-pointer">
        <p-button (click)="toggleSideBar()" styleClass="p-button-text p-button-primary" icon="pi pi-arrow-right-arrow-left "></p-button>
        <p class="text-xl font-bold" >Platform Launch</p>
   </div>
    <div class="flex ml-auto align-items-center gap-2">
        <p-button styleClass="text-white border-round-3xl" label="Add New Task" icon="pi pi-plus"></p-button>
        <i class="pi pi-ellipsis-v text-500" style="font-size: 1rem"></i>
    </div>
</div>